@import url('https://fonts.googleapis.com/css?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

body,li,ul,p,h1,h3,h4,a {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Open Sans";
  font-size: 18px;
  font-weight: 700;
}
.header{
  margin-bottom: 3em;
}
.header-menu-section {
  height: 130px;
  box-shadow: inset 0 -6px 0 #1e1e1e;
  background-color: #292929;
  display: flex;
  justify-content: space-around;
  align-items: center;

  &-h1{
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2em;
    font-weight: 400;
    span {
      color: #58c93a;
      letter-spacing: -0.8px;
    }
  }

  .ul-header {
    display: flex;
    .li-header{
      padding-right: 4em;
    }
    .li-header {
      .header-menu-links {
        position: relative;
        text-shadow: 0 1px 0 #1e1e1e;
        color: #ffffff;
        font-family: 'Lato', sans-serif;
        font-size: 16px;
        font-weight: 700;
        transition: all 0.6s;
        &:before{
          position: absolute;
          content: " ";
          width: 0em;
          height: 0.5em;
          box-shadow: -1px 0 0 #1d1d1d, inset 0 -6px 0 #58c93a;
          background-color: #292929;
          bottom: -299%;
            left: 50%;
            transform: translateX(-50%);
          transition: all 0.3s;
        }
        &:hover{
          color: #58c93a;
          &:before{
            width: 8em;
          }
        }
      }
      
    }
  }
}


.footer {
  padding: 80px 0;
  box-shadow: inset 0 1px 0 #e1e0e0;
  background-color: #f8f8f8;
  display: flex;
  justify-content: center;
  &-section-contacts{
    h2{
      color: #292929;
      margin: 0 0 20px 0;
      text-align: center;
    }
    p{
      color: #a6a6a6;
      font-size: 13px;
      font-weight: 400;
      line-height: 20px;
      font-weight: 400;
      letter-spacing: 0.39px;
      margin-bottom: 10px;
    }
    &-links{
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      a{
        width: 40px;
        height: 40px;
        background-color: #e5e5e5;
        display: flex;
        justify-content: center;
        align-items: center;
        &:hover{
          background-color: #516fad;
        }
      }
    }
  }
}

@media (max-width: 425px) {
  body {
    font-size: 7px;
  }
  .header-menu-section .ul-header .li-header {
    padding-right: 2.1em;
    }
}
